@model BussinessObject.OrderDto

@using BussinessObject

<style>
    .product-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

        .product-row input[type="text"] {
            margin-right: 10px;
        }

        .product-row .remove-product {
            margin-left: 10px;
            cursor: pointer;
        }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<form asp-action="OrderDelete">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Delete Order</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="OrderId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="OrderId" class="form-control" type="text" readonly />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="MemberId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="MemberId" class="form-control" type="text" readonly />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="OrderDate" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="OrderDate" class="form-control" type="date" readonly />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="RequiredDate" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="RequiredDate" class="form-control" type="date" readonly />
                <span asp-validation-for="RequiredDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ShippedDate" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ShippedDate" class="form-control" type="date" readonly />
                <span asp-validation-for="ShippedDate" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Freight" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Freight" class="form-control" type="number" readonly />
                <span asp-validation-for="Freight" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ProductList" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                @for (int i = 0; i < Model.ProductList.Count; i++)
                {
                    <input type="hidden" class="form-control" asp-for="@Model.ProductList[i].ProductId" />
                    <input type="hidden" class="form-control" asp-for="@Model.ProductList[i].Quantity" />
                    <input type="hidden" class="form-control" asp-for="@Model.ProductList[i].UnitPrice" />
                    <input type="hidden" class="form-control" asp-for="@Model.ProductList[i].Discount" />
                }
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Product ID</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.ProductList)
                        {
                            <tr>
                                <td>@product.ProductId</td>
                                <td>@product.UnitPrice</td>
                                <td>@product.Quantity</td>
                                <td>@product.Discount</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="col-5 offset-2">
                <a asp-action="OrderIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}